@use "base-themes.scss";
@use "editor-themes.scss";
@use "accent-themes.scss";

:root {
  @include base-themes.base-theme;
  @include base-themes.dark-theme;
  @include accent-themes.green-theme;
  @include editor-themes.dark-editor-theme;
}

:root.light {
  @include base-themes.light-theme;
  @include editor-themes.light-editor-theme;
  color-scheme: light;
}

:root.dark {
  @include base-themes.dark-theme;
  @include editor-themes.dark-editor-theme;
  color-scheme: dark;
}

:root.black {
  @include base-themes.black-theme;
  @include editor-themes.black-editor-theme;
  color-scheme: dark;
}

:root[data-accent="blue"] {
  @include accent-themes.blue-theme;
}

:root[data-accent="green"] {
  @include accent-themes.green-theme;
}

:root[data-accent="teal"] {
  @include accent-themes.teal-theme;
}

:root[data-accent="indigo"] {
  @include accent-themes.indigo-theme;
}

:root[data-accent="purple"] {
  @include accent-themes.purple-theme;
}

:root[data-accent="orange"] {
  @include accent-themes.orange-theme;
}

:root[data-accent="pink"] {
  @include accent-themes.pink-theme;
}

:root[data-accent="red"] {
  @include accent-themes.red-theme;
}

:root[data-accent="yellow"] {
  @include accent-themes.yellow-theme;
}
